<form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

    <div class="login__inputs">
        <input formControlName="nome" class="form__input" type="text" id="usuario" placeholder="Insira seu e-mail" required>
        <input formControlName="senha" class="form__input" type="text" id="senha" placeholder="Insira sua senha" required>
    </div>

    <div class="login__checkbox">
        <p>Logar automaticamente</p>
        <input type="checkbox" name="logar-automaticamente" id="logar-automaticamente">
    </div>

    <button type="submit" id="botao-login">Entrar</button>
</form>