:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/ford-mustang.webp");
  background-size: cover;
  background-position: center;
}

.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .login__form {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  :host {
    background-position: 70% center;
  }
  
  .login__form {
    padding: 15px;
  }
}